---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);

body {
  background: #efeeee;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #000;
}

a {
  color: #C03035;
}

a:hover {
  outline: none;
  text-decoration: none;
  color: #4fcccd;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #686868;
}

h1 {
  font-size: 8vw;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  color: #000;
  margin-top: 30px;
  text-transform: uppercase;
}

h1 span {
  color: #B4010F;

}

.top-nav {
  background-color: #008db6;
}

.top-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  width: 200px;
}

.page-content, footer {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1600px;
}

