<section id="how">
  <h2>Cómo nos organizamos</h2>
  <p>Siempre hemos sido un grupo autoorganizado en el que hemos trabajado de forma horizontal, no tenemos jerarquías, simplemente tenemos muchas ganas de aprender y compartir para mejorar como profesionales. Puedes unirte a cualquier reunión o evento sin ningún problema.</p>

  <p>Hemos pasado épocas en las que hemos tenido reuniones mensuales, o quincenales… últimamente funcionamos en formato “bajo demanda”, es decir, cuando alguien está interesado en traer una charla, en prepararla o simplemente quiere aprender de algo, hace una propuesta al grupo para poner en marcha la maquinaria y organizar todo.</p>

</section>


